// Colors
$white: #fff;
$black: #212121;
$main-text-color: lighten($black, 20%);
$main-bg-color: darken($white, 12%);

// Fonts
$main-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;;
$alt-font:  "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;